.container {
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: repeat(4, 100px);
    grid-template-areas:
      "header  header  header  header"
      "content content content content";
      justify-items: center;
  }

 .header { grid-area: header; }
.content { grid-area: content; }