:root {
    --main-orange: #ECB16B;
    --main-green: #B0D07D;
    --main-cream: #F5ECD6;
    --main-teal: #F0FFEE
}

body {
    margin: 0;
    background:light white;
}

.header {
    padding-top: 40px;
    padding-bottom: 10px;
    color: lightgrey;
    flex: auto;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color:gray;

}

.p {
    color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    size: 50px;
    text-align: center;

}
.imgItem {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 50px;
    width: 400px;

  }




  .p2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    size: 100px;
    text-align: left;

}

