:root {
    --transparent-gray: rgba(185, 184, 184, 0.644);
    --transparent-blue: rgba(201, 209, 211, 0.822);
    --hover-gray: rgba(168, 166, 166, 0.726);
    --light-transparent-gray: rgba(226, 226, 226, 0.822);
    --header: #e9ecef;
    --header-font: rgba(0, 0, 0, 0.795);
    --bright-cyan: rgb(0, 194, 194);
}

.profile {
    margin: 30px;
    padding: 20px;
    margin-top: 0;
    border-radius: 10px;
    color: var(--header-font);
    transition: 0.3s;
}

.profile img {
    display: inline-block;
    height: 350px;
    width: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.profile p {
    display: inline-block;
    width: 500px;
    vertical-align: top;
    padding-left: 30px;
    font-size: 1.3em;
}

.profile:hover {
    background-color: var(--header);
}

.profile-header {
    font-size: 1.5em;
    padding: 20px;
    margin-right: 30px;
    padding-bottom: 0;
    text-align: right;
}



footer {
    text-align: center;
}

.github-link {
    font-size: 1.5em;
    margin-bottom: 1em;
    transition: 0.3s;
}

#github-link:hover {
    color: var(--bright-cyan);
    transition: 0.3s;
}

#surprise-button {
    margin-bottom: 3em;
    height: 2em;
    width: 15em;
    border: none;
    outline: none;
    background-color: var(--transparent-gray);
    border-radius: 4px;
    transition: 0.3s;
}

#surprise-button:hover {
    background-color: var(--light-transparent-gray);
}


