:root {
    --transparent-gray: rgba(185, 184, 184, 0.644);
    --transparent-blue: rgba(201, 209, 211, 0.822);
    --hover-gray: rgba(168, 166, 166, 0.726);
    --light-transparent-gray: rgba(226, 226, 226, 0.822);
    --header: #e9ecef;
    --header-font: rgba(0, 0, 0, 0.795)

}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    background-color: var(--header);
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: var(--header-font);
    padding-bottom: 10px;
    width: 100%;
}

.title {
    display: inline-block;
    font-size: 4em;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 50px;
}

#sub-header {
    display: inline-block;
    font-size: 1.2em;
    margin-bottom: 10px;
    top: 120px;
    color: var(--header-font);
    padding-left: 30px;
}