:root {
    --transparent-gray: rgba(185, 184, 184, 0.644);
    --transparent-blue: rgba(201, 209, 211, 0.822);
    --hover-gray: rgba(168, 166, 166, 0.726);
    --light-transparent-gray: rgba(226, 226, 226, 0.822);

}

.contact-form-div {
    float: left;
    margin: 50px;
    padding: 30px;
    width: 400px;
    height: 500px;
    text-align: left;
    border-radius: 8px;
    margin-bottom: 0;
}

.email-text-field,
.name-text-field {
    padding-bottom:30px;
    width: 400px;
}

#email-input,
#name-input {
    border:none;
    border-bottom: solid 1px black;
    font:inherit;
    cursor: text;
    background-color: transparent;
    text-align: center;
    width: inherit;
    text-align: left;
    height: 1.5em;
}

#name-input:hover,
#email-input:hover,
textarea:hover,
#submit:hover {
    background-color: whitesmoke;
}

textarea {
    resize: none;
    border-radius: 8px;
    font: inherit;
    width: 400px;
    font-size: 0.8em;
    margin-bottom: 10px;
    overflow: auto;
}

#submit {
    border:none;
    width:70px;
    height: 30px;
    font-size: 0.8em;
    font-family: inherit;
    border-radius:7px;
    text-align: center;
    background-color: var(--light-transparent-gray);
    margin-bottom: 100px;
}

.fyi {
    background-color: lightyellow;
    border-radius: 8px;
    margin-left: 40px;
    padding:20px;
    margin-top: 1em;
    width: fit-content;

}
