:root {
    --transparent-gray: rgba(185, 184, 184, 0.644);
    --transparent-blue: rgba(201, 209, 211, 0.822);
    --hover-gray: rgba(168, 166, 166, 0.726);
    --light-transparent-gray: rgba(226, 226, 226, 0.822);
}

body {
    background-color: var(--transparent-blue);
}

.page-content {
    margin-top:20px;
    margin-left: 50px;
    padding: 30px;
    text-align: center;

}

.img-block {
    display: flex;
    align-items: flex-start;
    margin:30px;
    padding-top: 20px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    color: black;
}


img {
    width: 200px;
    height:auto;
   }