.container {
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 100px auto;
    grid-template-areas:
      "header  header"
      "sidebar content"
      "footer  footer";
  }

.header { grid-area: header; }
.sidebar { grid-area: sidebar; }
.footer { grid-area: footer; }
.content { grid-area: content; }