:root {
    --transparent-gray: rgba(185, 184, 184, 0.644);
    --transparent-blue: rgba(201, 209, 211, 0.822);
    --hover-gray: rgba(168, 166, 166, 0.726);
    --light-transparent-gray: rgba(226, 226, 226, 0.822);

}

.page-content {
    margin: 30px;
    margin-top: 10px;
}

.btn.btn-primary {
    background-color: var(--transparent-gray);
    border: none;
    color: black;
}

.btn.btn-primary:hover {
    background-color: var(--light-transparent-gray);
}

img {
    margin-top: 15px;
}