:root {
    --transparent-gray: rgba(185, 184, 184, 0.644);
    --transparent-blue: rgba(201, 209, 211, 0.822);
    --hover-gray: rgba(168, 166, 166, 0.726);
    --light-transparent-gray: rgba(226, 226, 226, 0.822);

}

/* Page-content is one of three divs in the body. 
   Side-bar and main-content are the two child divs. */

.page-content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    position: sticky;
    top: 0px;
}

.side-bar {
    background-color: var(--transparent-blue);
    font-size: 1.2em;
    width: fit-content;
    height: 100vh;
    display: inline-block;
    overflow: hidden;
    position: sticky;
    top: 0px;
}

.main-content {
    display: inline-block;
    margin: 25px;
    width: 100%;
    height: fit-content;
    display: block;
}

.side-bar ul {
    margin: 25px;
    margin-left: 0px;
    list-style: none;
    border-radius: 4px;
}

.side-bar li {
    padding: 10px;
    border-bottom: 2px solid white;
}

li:hover {
    cursor: pointer;
    text-decoration: underline;
    border-radius: 4px;
}

.main-content h6 {
    padding-top: 10px;
    border-top: 2px solid var(--transparent-blue);
}

.accordion {
    width: 100%;
    padding-bottom: 40px;
}
.accordion button {
    color: black;
}

#collapseTen {
    border-bottom: 1px solid var(--transparent-gray);
}

p {
    font-size: 1.5em;
}
